@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* border: #cfd1d3; color: #333e44*/
:root {
  --black: #333e44;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* Component */
.title-page-conponent {
  font-size: 14px;
  padding: 15px 45px;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
  width: 100%;
  text-align: left;
  background-color: #f5f5f5;
  align-items: center;
  display: flex;
  justify-content: start;
}
.title-page-conponent-content {
  color: #333e44;
  font-weight: 500;
  transition: 0.3s;
  align-items: center;
}
.title-page-conponent-content:hover {
  color: var(--orange);
  font-weight: 500;
}
.input-form {
  height: 40px !important;
  /* border: 1px solid #c5d0d6 !important; */
}
/* Layout */
.layout-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.align-items-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.align-items-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-items-center-grid {
  display: grid;
  justify-content: space-around;
  align-items: center;
}
.button-filter {
  padding: 0 10px 0 5px;
  width: auto;
  height: 20px;
  color: #fff;
  background-color: #e95221;
  font-weight: 500;
  font-size: 12px;
  transition: 0.3s;
  margin-right: 5px;
}
.button {
  border: none;
}
.button:hover {
  color: var(--orange) !important;
  border: none;
}
.text-price-underline {
  text-decoration: underline;
  color: "red";
}
.navlink {
  color: var(--black);
}
.navlink:hover {
  color: var(--orange);
}
/* .layout-button-submit {
  margin: 5px;
  width: 100%;
} */
.button-submit {
  margin: 5px;
  height: 45px;
  width: auto;
  font-size: 18px;
  border-radius: 5px;
  background-color: #e95211;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
  padding: 0 30px;
  text-transform: uppercase;
}
.button-submit:hover {
  /* border: 1px solid #e95211 !important; */
  background-color: #e0e3e6 !important;
  color: #e95211 !important;
}
.title-page-module {
  font-size: 25px;
  font-weight: 500;
  color: #e95211;
}
.process-page-module {
  width: 160px;
  height: 5px;
  background: #e5e9ed;
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border-radius: 3px;
}
.span-process-page-module {
  background: #e95211;
  width: 50px;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
  border-radius: 3px;
}
/* Header */
.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-center-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.padding-layout {
  padding: 0 10px;
}
.imageHeader {
  height: 60px;
  padding: 10px;
  cursor: pointer;
}
.icon-header {
  color: #e95211;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.title-header {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  /* transition: 0.3s; */
}
.title-header:hover {
  color: #e95211;
}
.title-header-color {
  width: auto;
  font-size: 16px;
  font-weight: bold;
  color: #ff1c48;
  text-transform: uppercase;
  transition: 0.3s;
}
.title-header-color:hover {
  color: #000;
}

.layout-button-header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2px;
  cursor: pointer;
}
.button-header {
  font-size: 20px;
  border: 1px solid #cfd1d3;
  color: var(--orange);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
.div-button-header-image {
  height: 35px;
  width: 35px;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 4px;
}
.button-header-image {
  height: 100%;
  width: 100%;
  color: var(--orange);
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
}

.title-button {
  display: inline-block;
  width: 100%;
  line-height: normal;
  margin-top: 2px;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.header-button-hover {
  text-align: left;
  color: #333e44;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 2.3;
  transition: 0.3s;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
.header-button-hover:hover {
  background-color: var(--orange);
  color: #fff;
}
/* Menu Navbar */
.menu-content {
  background: #e95221;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}
.layout-menu-navbar {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  display: block;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.layout-menu-navbar:hover {
  color: #000;
}
/* Footer */
/* footer-component */
.footer {
  bottom: 0;
  background: #222222;
}
.title-footer {
  line-height: normal;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 15px;
  margin: 0px 0 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.des_foo {
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.des_foo b {
  color: #e95211;
}
.des_foo p:hover {
  color: #e95211;
}
.des_foo em {
  font-style: italic;
}
.list-foo {
  color: #fff;
  margin-bottom: 10px;
}
.list-foo b {
  font-weight: bolder;
}
.list-foo em {
  color: #e95211;
  font-weight: bolder;
}
/* Product */
.layout-filter-product {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px 20px 10px;
  height: 100%;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  margin: 0 10px;
}
.content-layout-filter-product {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px dashed #f2f2f2;
  margin-bottom: 10px;
}
.title-filter-product {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.title-content-product-page {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f8f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.name-product-page {
  transition: 0.1s;
}
.name-product-page:hover {
  color: #e95221;
}
.image-product {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pagination {
  padding: "10px ";
}
.button-search-header {
  width: 60px;
  height: 35px;
  background-color: #dad8d8 !important;
  color: var(--orange);
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  transition: 0.3s;
}
.button-search-header:hover {
  border-radius: 0 10px 10px 0;
  color: #d90f0c !important;
  border: none;
}
.div-search-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e9ebed;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}
.input-search {
  padding-left: 20px;
  padding-right: 20px;
  color: #797d81;
  font-size: 12px;
  height: 35px;
}
/* Product Detail */
.layout-category-product-detail {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px 10px 10px 20px;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}
.title-category-product-detail {
  padding: 10px 10px;
  color: #333e44;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.title-category-product-detail:hover {
  color: orangered;
}
.button-quantity {
  border-radius: 50%;
  background: #e95221;
  border: none;
  color: #fff;
  width: 26px;
  height: 26px;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.button-quantity-disabled {
  border-radius: 50%;
  background: #faf6f4;
  border: none;
  color: #141010;
  width: 26px;
  height: 26px;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  cursor: not-allowed;
  transition: 0.3s;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.input-quantity {
  height: auto;
  font-size: 14px;
  text-align: center;
  padding: 0px;
  width: 90px;
  min-height: 26px;
  border-radius: 5px;
  border: 1px solid #e95221;
  color: #e95221;
  margin: 0px 3px;
  outline: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.button-size {
  height: 30px;
  width: 40px;
  font-size: 16px;
  margin: 10px;
  color: var(--color);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.button-size:hover {
  color: var(--light);
  border: 1px solid var(--orange);
  background-color: var(--orange);
}
.button-size-disabled {
  height: 30px;
  width: 40px;
  font-size: 16px;
  background-color: #edeff1;
  margin: 10px;
  color: #cfd1d3;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  cursor: not-allowed;
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); */
}
.layout-button-color-click {
  border: 1px solid #f89008;
  padding: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #fffbf5;
  cursor: pointer;
}
.layout-button-color {
  border: 1px solid #fffbf5;
  padding: 5px;
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); */
  border-radius: 5px;
  background: #fbfbfa;
  cursor: pointer;
}
/* Page Account */
.title-page-account {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.title-page-account-color {
  color: #e95221;
  font-weight: 700;
  padding: 0 5px;
}
.title-content-page-account {
  font-size: 19px;
  font-weight: 400;
  color: #212b25;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.div-content-account {
  font-size: 14px;
  color: #212b25;
  margin: 10px 0;
  display: flex;
  justify-content: start;
}
.span-content-account {
  padding: 0 5px;
  font-weight: 700;
}
.p-content-account {
  padding: 0 5px;
  font-size: 14px;
  color: #333e44;
}
/* order-cart */
.title-cart {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f8f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.title-cart-child {
  /* width: 100% !important; */
  height: auto !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #e95221;
  padding: 7px 10px;
  cursor: pointer;
}
.cart-product-body {
  border: solid 1px #ebebeb;
  border-radius: 0px 0px 10px 10px;
}
.cart-product {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ebebeb;
}
.cart-footer {
  margin-top: 20px;
  padding: 5px 10px 10px;
  border-top: solid 1px #ebebeb;
  font-size: 16px;
  font-weight: 700;
}

/* ====================ADMIN==================== */
.menu-content-admin {
  background: #f5f5f5;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.menu-navbar-admin {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
/* Header title Pages */
.layout-header-title-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  background-color: #f5f5f5;
}
.button-admin-circle {
  transition: 0.3s;
  margin: 2px;
}
.button-admin-circle:hover {
  border: 1px solid #e95221 !important;
  color: #e95221 !important;
}
.title-header-admin {
  font-size: 14px;
  font-weight: 700;
  color: #e95221;
  text-transform: uppercase;
}
.layout-content-admin {
  padding: 10px;
}
/* --------- */
.page-admin-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.dashborad-admin-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
  text-align: center;
}
.dashborad-content {
  height: 100px;
  background-color: #f5f5f5;
  padding: 4px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.font-12 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 4px;
}
.font-14 {
  font-size: 14px;
  color: #d90f0c;
  font-weight: 600;
  text-transform: lowercase;
}
.admin-btn-addNew {
  background-color: #20c997;
  transition: 0.5s !important;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}
.admin-btn-delete {
  background-color: red;
  transition: 0.5s !important;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}
.admin-btn-addNew:hover {
  background-color: #23c60a !important;
}
.admin-btn-delete:hover {
  background-color: var(--black) !important;
  color: red !important;
}
.upload-files {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.upload-files-table {
  width: 60px;
  height: 60px;
}
/* Payment */
.title-payment-left {
  height: 40px;
  align-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.title-payment-right {
  height: 40px;
  align-content: center;
  font-size: 16px;
  font-weight: bold;
  background: #f7f8f9;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.image-payment {
  border: 1px solid #d3d2d2;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  align-content: center;
  background-color: white;
}
.title-payment-sum {
  padding: 10px;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: 500;
  align-content: center;
}
.title-payment-deli {
  border-top: 1px solid #4b4b4b;
  padding: 10px;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: 500;
  align-content: center;
}
.body-thanhtoan {
  height: 90%;
  width: 95%;
  padding: 10px;
}
/* Group Input */
.group-input {
  border: 1.4px solid #d1c5c5;
  display: grid;
  border-radius: 5px;
  padding: 2px 10px 10px 10px;
  line-height: 2;
  margin-bottom: 10px;
}
.label-group-input {
  font-size: 13px;
  font-weight: 500;
  color: #d1c5c5;
  cursor: text;
}
.input-group-input {
  font-size: 13px;
  font-weight: 500;
  border: none;
  outline: none;
  height: 25px;
}
.group-input-false {
  border: 1.4px solid #c80c0c;
  display: grid;
  border-radius: 5px;
  padding: 2px 10px 10px 10px;
  line-height: 2;
  margin-bottom: 10px;
}
.label-group-input-false {
  font-size: 13px;
  font-weight: 500;
  color: #c80c0c;
  cursor: text;
}
